<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
{% include "modal.html" %}
{% include "nav.html" %}
{% include "shouts.html" %}
{% include "scripts.html" %}
</body>
</html>